.vehicle-card-image {
  width: 100%;
  min-height: 200px; /* Ensures a minimum height but allows scaling */
  flex-grow: 1; /* Makes the image container take available space */
  overflow: hidden;
  position: relative;
  aspect-ratio: 4 / 3;
}

.vehicle-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
  overflow: hidden;
}

.vehicle-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  transform-style: preserve-3d;
  opacity: 0;
  animation: cardIn 0.4s forwards ease;
}

.vehicle-card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.like-button-vehicle-card {
  width: 20px !important;
  height: 20px !important;
  padding: 7px 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  background: #e7ebe3;
  border: none;
  border-radius: 5px;
  opacity: 0.7;
}

.vehicle-card-options {
  position: absolute !important;
  top: 5px;
  right: 5px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.option-menu {
  position: absolute !important;
  top: 25px;
  right: 0;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  min-width: 95px;
  z-index: 10;
  width: auto;
}

.menu-single-option {
  display: block;
  padding: 8px 12px;
  width: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
}

.vehicle-details-wrapper {
  padding: 10px;
  position: relative !important;
}

.vehicle-title {
  margin: 0px 0 0 0 !important;
  font-size: 16px !important;
  font-weight: bold;
  text-align: left;
  font-size: 18px !important;
}

.vehicle-price {
  margin: 5px 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-align: left;
}

.vehicle-odometer {
  margin: 2px 0;
  font-size: 12px;
  color: #666;
  text-align: left;
}

.vehicle-location {
  margin: 2px 0 10px;
  font-size: 12px;
  color: #666;
  text-align: left;
}

.vehicle-likes {
  position: absolute;
  bottom: 90px;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.vehicle-info-row {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 12px;
  color: #666;
}

.vehicle-info-left span,
.vehicle-info-right span {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}

@keyframes cardIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  .vehicle-card-image {
    min-height: 180px;
  }
}

@media (max-width: 768px) {
  .vehicle-card-image {
    min-height: 160px;
  }
}

@media (max-width: 480px) {
  .vehicle-card-image {
    min-height: 140px;
  }
}
